.ceditprofiladmin {
  margin: 0;
  padding: 0;
}
.cheadHomeAdmin {
  /* border: 1px solid black; */
  background: rgb(0, 20, 32);
  background: linear-gradient(
    90deg,
    rgba(0, 20, 32, 1) 0%,
    rgba(13, 38, 53, 1) 50%,
    rgba(76, 94, 103, 1) 100%
  );
  color: aliceblue;
  font-size: 25px;
  height: 8vh;
  padding: 0.75%;
}
.cheadbarHomeAdmin {
  text-align: center;
  background-color: #d4dcdf;
}
.cchilda {
  display: inline-block;
  padding: 1rem 3.5rem;
  vertical-align: middle;
  /* border-right: 1px solid black; */
}
.cchild1a {
  display: inline-block;
  padding: 1rem 3.5rem;
  vertical-align: middle;
  /* border-right: 1px solid #001420;
      border-left: 1px solid #001420; */
}
.cheadbarHomeAdmin a {
  text-decoration: none;
  color: #001420;
}
.aeditprofile {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  box-shadow: rgba(23, 22, 22, 0.56) 0px 20px 50px 4px;
  margin-top: 5%;
  background-color: #d4dcdf;
}
.etitle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.aeditprofilform {
  /* border: 1px solid black; */
  padding: 1rem 1rem;
}
.chan {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chann {
  /* margin-left: 2.5px;
    margin-right: 2.5px; */
  /* background-color: rgb(139, 99, 40); */
  width: 250px;
  /* border-radius: 10px 5px; */
  font-size: medium;
  background-color: white;
  margin: 20px auto;
}

.subbb {
  margin: 2%;
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 30px;
  font-size: large;
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;
  background-color: #001420;
  color: white;
}
.subbb:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(55, 51, 52, 0.5),
    0.125rem 0.125rem 1rem rgba(161, 159, 158, 0.5);
}

.subbb:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(55, 51, 52, 0.5),
    0.125rem 0.125rem 1rem rgba(55, 51, 52, 0.5);
}
