.all {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ajout_form {
  width: 55%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  /* border: 1px solid hotpink; */
  border: 3px dotted #000d15;
}
span{
  font-weight: bolder;
  color: chocolate  ;
  font-size: 35px;
}
.inpsec {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}
.user_icon{
  width: 130px;
  height: 130px;
  margin-top: 5%;
}
.input_{
  display: flex;
  width: 200px;
  height: 40px;
  border-radius: 10px;
}
.btn {
  height: 50px;
  width: 200px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  transition: box-shadow 0.1s ease-in-out;
  cursor: pointer;
  background-color: #001420;
  color: white;
}

.btn:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(55, 51, 52, 0.5),
    0.125rem 0.125rem 1rem rgba(161, 159, 158, 0.5);
}

.btn:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(55, 51, 52, 0.5),
    0.125rem 0.125rem 1rem rgba(55, 51, 52, 0.5);
}
