.allHomeAdmins {
  margin: 0;
  padding: 0;
}
.headHomeAdmins {
  /* border: 1px solid black; */
  background: rgb(0, 20, 32);
  background: linear-gradient(
    90deg,
    rgba(0, 20, 32, 1) 0%,
    rgba(13, 38, 53, 1) 50%,
    rgba(76, 94, 103, 1) 100%
  );
  color: aliceblue;
  font-size: 25px;
  height: 8vh;
  padding: 0.75%;
}
.headHomeAdmins p {
  font-size: 15px;
}
.headbarHomeAdmins {
  text-align: center;
  background-color: #d4dcdf;
}
.childs {
  display: inline-block;
  padding: 1rem 3.5rem;
  vertical-align: middle;
  /* border-right: 1px solid black; */
}
.child1s {
  display: inline-block;
  padding: 1rem 3.5rem;
  vertical-align: middle;
  /* border-right: 1px solid #001420;
    border-left: 1px solid #001420; */
}
.headbarHomeAdmins a {
  text-decoration: none;
  color: #001420;
}

/* .bodyHomeAdmin {
    border: 1px solid green;
  } */
.titles {
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 1rem 1rem;
  margin: 2.5%;
  background: rgb(0, 20, 32);
  background: linear-gradient(
    90deg,
    rgba(0, 20, 32, 1) 0%,
    rgba(13, 38, 53, 1) 50%,
    rgba(76, 94, 103, 1) 100%
  );
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  border-radius: 15px 15px 15px 15px;
}
.iconStyles {
  height: 25px;
  width: 25px;
  margin-right: 5px;
}
.iconStyle1s {
  height: 25px;
  width: 25px;
  margin-left: 5px;
}
.bigIconStyles {
  height: 40px;
  width: 40px;
  margin-left: 5px;
  margin-right: 10px;
}
.gess {
  text-align: center;
}
.heres {
  display: inline-block;
  padding: 1rem 3.5rem;
  vertical-align: middle;
  padding: 1rem 1rem;
  width: 200px;
  background-color: #001420;
  background: linear-gradient(
    90deg,
    rgba(0, 20, 32, 1) 0%,
    rgba(13, 38, 53, 1) 50%,
    rgba(76, 94, 103, 1) 100%
  );
  border-radius: 10px 10px 10px 10px;
  margin: 20px;
  font-size: 17.5px;
  color: white;
  width: 400px;
}
.heres a {
  text-decoration: none;
  color: white;
}
.footerHomeAdmins {
  text-align: center;
  background-color: #d4dcdf;

  height: 150px;
  margin-top: 10px;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1rem;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.styled-table thead tr {
  background-color: #001420;
  background: linear-gradient(
    90deg,
    rgba(0, 20, 32, 1) 0%,
    rgba(13, 38, 53, 1) 50%,
    rgba(76, 94, 103, 1) 100%
  );
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
  width: 22.5%;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid orange;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #001420;
}
.tableheading{
  font-size: 18px;
}
.fltr {
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  margin: 2.5%;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}
.checkbox {
  width: 25px;
  height: 25px;
}
.delete {
  height: 40px;
  width: 120px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;
  background-color: #001420;
  color: white;
}

.delete:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(55, 51, 52, 0.5),
    0.125rem 0.125rem 1rem rgba(161, 159, 158, 0.5);
}

.delete:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(55, 51, 52, 0.5),
    0.125rem 0.125rem 1rem rgba(55, 51, 52, 0.5);
}

.deleteicon {
  color: #dddddd;
  /* width: 20px;
  height: 20px; */
}
.deleteall {
  height: 50px;
  width: 250px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;
  background-color: #001420;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
}

.deleteall:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(55, 51, 52, 0.5),
    0.125rem 0.125rem 1rem rgba(161, 159, 158, 0.5);
}

.deleteall:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(55, 51, 52, 0.5),
    0.125rem 0.125rem 1rem rgba(55, 51, 52, 0.5);
}
