.supp_all {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
}
.containerr_ {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  flex-direction: column;
  /* border: 3px solid white; */
}
/* .pick {
} */
.pick_inside {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pick_inside_select {
  background-color: #072030;
  border-radius: 10px;
  height: 75px;
  color: white;
  font-size: 20px;
}
.supr {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.supr td,
.supr th {
  border: 1px solid #ddd;
  padding: 8px;
}

.supr tr:nth-child(even) {
  background-color: #f2f2f2;
}

.supr tr:hover {
  background-color: #ddd;
}

.supr th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: teal;
  color: white;
}
.supbtn{
  height: 40px;
  width: 200px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  transition: box-shadow .2s ease-in-out;
  cursor: pointer;
  background-color: #001420;
  color: white;
}

.supbtn:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(55, 51, 52, 0.5),
    0.125rem 0.125rem 1rem rgba(161, 159, 158, 0.5);
}

.supbtn:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(55, 51, 52, 0.5),
    0.125rem 0.125rem 1rem rgba(55, 51, 52, 0.5);
}
