.supp_all {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
}
.containerr_ {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  flex-direction: column;
  border: 1px solid black;  
}
.selecter{
  width: 100%;
  height: 90px;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px solid red;
}
/* .pick {
} */
.pick_inside {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  height: 400px;
  border: 3px solid green;
    overflow-y: scroll;

}
.pick_inside table {
/* overflow-y: scroll; */
}

.pick_inside_select {
  background-color: #072030;
  opacity: 0.8;
  border-radius: 150px;
  height: 60px;
  color: white;
  font-size: 20px;
  width: 300px;
  text-align: center;
  cursor: pointer;
}
.supr {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  /* overflow-y: scroll; */
}

.supr td,
.supr th {
  border: 1px solid #ddd;
  padding: 10px;
}

.supr tr:nth-child(even) {
  background-color: #f2f2f2;
}

.supr tr:hover {
  background-color: #ddd;
}

.supr th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #001420;
  color: white;
}
.supbtn{
  height: 40px;
  width: 180px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  transition: box-shadow .2s ease-in-out;
  cursor: pointer;
  background-color: #001420;
  opacity: 0.8;
  color: white;
}

.supbtn:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(55, 51, 52, 0.5),
    0.125rem 0.125rem 1rem rgba(161, 159, 158, 0.5);
}

.supbtn:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(55, 51, 52, 0.5),
    0.125rem 0.125rem 1rem rgba(55, 51, 52, 0.5);
}
