.allHomeEns {
  margin: 0;
  padding: 0;
}
.headHomeEns {
  /* border: 1px solid black; */
  background: rgb(0, 20, 32);
  background: linear-gradient(
    90deg,
    rgba(0, 20, 32, 1) 0%,
    rgba(13, 38, 53, 1) 50%,
    rgba(76, 94, 103, 1) 100%
  );
  color: aliceblue;
  font-size: 25px;
  height: 8vh;
  padding: 0.75%;
}
.headHomeEns p {
  font-size: 15px;
}
.headbarHomeEns {
  text-align: center;
  background-color: #d4dcdf;
}
.childens {
  display: inline-block;
  padding: 1rem 3.5rem;
  vertical-align: middle;
  /* border-right: 1px solid black; */
}
.child1ens {
  display: inline-block;
  padding: 1rem 3.5rem;
  vertical-align: middle;
  /* border-right: 1px solid #001420;
  border-left: 1px solid #001420; */
}
.headbarHomeEns a {
  text-decoration: none;
  color: #001420;
}

/* .bodyHomeAdmin {
  border: 1px solid green;
} */
.titleens {
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 1rem 1rem;
  margin: 2.5%;
  background: rgb(0, 20, 32);
  background: linear-gradient(
    90deg,
    rgba(0, 20, 32, 1) 0%,
    rgba(13, 38, 53, 1) 50%,
    rgba(76, 94, 103, 1) 100%
  );
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  border-radius: 15px 15px 15px 15px;
}
.titleens a {
  color: white;
  text-decoration: none;
}
.iconStyleens {
  height: 25px;
  width: 25px;
  margin-right: 5px;
}
.iconStyle1ens {
  height: 25px;
  width: 25px;
  margin-left: 5px;
}
.bigIconStyleens {
  height: 40px;
  width: 40px;
  margin-left: 5px;
  margin-right: 10px;
}
.gesens {
  text-align: center;
}
.hereens {
  display: inline-block;
  padding: 1rem 3.5rem;
  vertical-align: middle;
  padding: 1rem 1rem;
  /* background-color: #001420; */
  background: linear-gradient(
    90deg,
    rgba(0, 20, 32, 1) 0%,
    rgba(13, 38, 53, 1) 50%,
    rgba(76, 94, 103, 1) 100%
  );
  border-radius: 10px 10px 10px 10px;
  margin: 20px;
  font-size: 17.5px;
  color: white;
  width: 400px;
}
.hereens a {
  text-decoration: none;
  color: white;
}
.footerHomeEns {
  text-align: center;
  background-color: #d4dcdf;

  height: 150px;
  margin-top: 10px;
}
